<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
      <button mat-icon-button class="back-button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 fxLayoutAlign="center center">પીપળી ગામ</h3>
    </div>   
  
    <!-- Cards -->  
    <div class="cards-container member-list" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
        <mat-card class="item-card" *ngFor="let item of items" fxFlex="48" fxFlex.lt-sm="100">
            <div *ngIf="item.image" class="profile-img">
                <img mat-card-image [src]="item.image" *ngIf="item.image" alt="Profile Image" />
            </div>
            <mat-card-content>
              <h3>{{ item.name }}</h3>
              <p class="location">
                <span fxLayoutAlign="start center" class="icon-div"><mat-icon>location_on</mat-icon></span>
                {{ item.location }}
              </p>
              <p class="location">
                <span fxLayoutAlign="start center" class="icon-div"><mat-icon>work</mat-icon></span>
                વ્યવસાય નું નામ 
              </p>
            </mat-card-content>

            <!-- <mat-card-actions class="location" fxLayoutAlign="space-between center">
                    <span class="category">{{ item.age }}</span>
                    <span fxLayoutAlign="start center" class="icon-div"><mat-icon>bookmark_border</mat-icon></span>
            </mat-card-actions> -->
        </mat-card>
    </div>
</div>