<div fxLayout="column" fxLayoutAlign="start center" class="content-page">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 fxLayoutAlign="center center">પરિવારનો ઇતિહાસ</h3>
    </div>
  
    <!-- Content -->
    <div class="content">
      <h4>જગોદણા- જગોદ્રા- જગોદરાની
        ઉત્પતિનો ઇતિહાસ... શક્યતઃ આંશીક માહીતી સંકલનઃ બારોટના ચોપડેથી.....</h4>
      <p><b>ઇ.સ.૧૩૨૭ માં ઉંઝાથી આપણા વડવાઓ જગુદણ ગામ આવેલ ત્યાં બાપાએ મામનું તોરણ બાંધેલ તે ગામનું નામ જગુદણ આપેલ, </b>
        જગુદણ ગામથી સરવા આવેલ ત્યાંથી કરણપરા ગામ આવેલ ત્યાંથી ૧૮૬૮ માં જીકીયારી આવેલ, ત્યાંથી જેતપર ગામ વસેલા, જેતપર ગામ માં ધીંગાણુ થતા મકતબાપા સુરાપુરા થઇ થયેલ, ત્યાંથી જેતપર ગામ છોડીને જામનગર જીલ્લાના ઉકડે ગામ ગયા ત્યાં રાજા જામ રણમલ રાજ કરતા હતા. ઉકડે મામ ઈ.સ. ૧૮૮૭ માં આવેલ ઉકડેથી ૧૯૧૮ માં રામપર મોટા, ૧ ભાઈ ગયેલ ને બીજો ભાઈ ૧૯૨૦ માં પીંપળી આવેલ, તે ઈતિહાસ બારોડના ચોપડે બોલે છે, રામપરથી મોટા ખીજડીયા, નાના રામપર આમ અનેક નામોએ જમોદણા પરિવાર વસતો રહયો, વંશવેલો વધતા ધંધા રોજગાર અર્થે અનેક ગામોમાં આજે જમોદણા પરિવારના આપણા ભાઈબંધુઓ વસવાટ કરી રહયા છે.
      </p>
      <p>
        આપણા પરિવારના ઈતિહાસની બારોટના ચોપડેથી સ્પષ્ટ તથા વિસ્તૃત માહીતીના અભાવે અહીં શકયતઃ સચોટતા તેમજ ચોકકસાઇની નજીકની માહીતી એકત્ર કરી પ્રસિધ્ધ કરેલ છે. કોઈપણ ક્ષતિ રહી જવા પામી હોય તો વિશાળ હૃદયે ક્ષમા આપશો...
      </p>
    </div>
  </div>
  