<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 fxLayoutAlign="center center">કાર્યક્રમ</h3>
    </div>
  
    <!-- Cards -->  
    <div class="cards-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
        <h3 class="coming-soon">Coming soon</h3>
    </div>
</div>