<div fxLayout="column" fxLayoutAlign="center center" class="welcome-container">
    <!-- Header with Logo and Welcome Message -->
    <div fxLayout="row" fxLayoutAlign="center center" class="header">
      <img src="logo.png" alt="Logo" class="logo" />
      <div class="welcome-message">
        <h3>નમસ્તે! જગોદણા પરિવારમાં આપનું સ્વાગત છે.</h3>
      </div>
    </div>
  
    <!-- Banner for Latest Update -->
    <mat-card class="banner-card" fxFlex="100" fxFlex.gt-sm="80">
      <h3>Banner for latest update</h3>
    </mat-card>
  
    <!-- Action Buttons -->
    <div class="w-100 dashboard-btn">
        <button 
          *ngFor="let button of buttons" 
          mat-raised-button [routerLink]="button.route"
          [ngStyle]="{'background-color': button.color, 'color': 'white'}" 
          class="grid-button">
          {{ button.text }}
        </button>
      </div>
      
    <!-- Footer -->
     <div fxLayoutAlign="center center" fxFlex="50">
        <button mat-raised-button class="footer-card">મુખ્ય કાર્યકારની સભા</button>
        <button mat-fab class="footer-card" style="margin-left: 10px;" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
     </div>
  </div>
  