<!-- <div fxLayout="column" fxLayoutAlign="center center" class="login-container">
  <mat-card class="login-card">
    <div class="brand-logo">
      <img src="logo.png" alt="Logo" class="logo-img">
    </div>
    <div class="otp-container">
      <h6>OTP દાખલ કરો</h6>
      <ng-otp-input
        [config]="config"
        (onInputChange)="handleOtpChange($event)">
      </ng-otp-input>
    
      <p>OTP તમારા ફોન પર મોકલવામાં આવ્યું છે</p>
      <p>Resend in 00:<span>{{ timer }}</span></p>
    
      <button mat-raised-button color="primary" (click)="submitOtp()" [disabled]="otp.length !== 4">
        લોગ ઇન કરો
      </button>
    </div>
  </mat-card>
</div> -->
  
<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card  class="login-card" fxLayout="row">
    <div class="brand-logo">
      <img src="logo.png" alt="Logo" class="logo-img">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="otp-container">
      <h6>OTP દાખલ કરો</h6>
      <!-- OTP Input -->
      <ng-otp-input
        [config]="config"
        (onInputChange)="handleOtpChange($event)">
      </ng-otp-input>
      <p style="color: #ff0000;">{{this.error}}</p>
      @if (timer === 0) {
        <a fxLayoutAlign="end center" class="resend-otp" (click)="resendOtp()">
          OTP ફરિથી મોકલો
        </a>
      }
      <p>OTP તમારા ફોન પર મોકલવામાં આવ્યું છે</p>
      @if (timer !== 0) {
        <p>Resend in 00:<span>{{ timer }}</span></p>
      }
    
      <button mat-raised-button color="primary" (click)="submitOtp()" [disabled]="otp.length !== 6 || loading"
      [class.spinner]="loading">
        લોગ ઇન કરો
      </button>
    </div>
  </mat-card>
</div>
    